<div class="modalWindow" id="modalWindow">
    <h1 id="headerModal"></h1>
    <p id="textModal"></p>
    <button id="buttonModal">ОК</button>
</div>
<style>
    .modalWindow{
        position: absolute;
        top: calc(50% - 70px);
        left: calc( 50% - 240px);
        min-height: 60px;
        height: auto;
        width: 400px;
        background-color: #e1f5fe;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition:1s;
        opacity: 0;
        border-radius: var(--border-radius);
        box-shadow: 6px 3px 20px 4px #4fc3f7;
        padding: 40px;

    }
    .modalWindow *{
        padding: 5px 10px;
    }
    #buttonModal{
        align-self: flex-end;
    }
</style>